* {
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 40%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "section section aside"
    "article article aside"
    "footer footer footer";
}

.header {
    grid-area: header;
    background-color: rgb(0, 119, 255);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.navbar {
    grid-area: navbar;
    background-color: rgb(0, 217, 255);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.section {
    grid-area: section;
    background-color: rgb(251, 255, 0);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.aside {
    grid-area: aside;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
}

.article {
    grid-area: article;
    background-color: rgb(248, 132, 102);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.footer {
    grid-area: footer;
    background-color: rgb(0, 119, 255);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.aside h1 {     
    transform: rotate(-90deg);
}

@media (max-width: 1000px) {
    .grid-container {
        width: 50%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header header"
        "navbar navbar"
        "section section"
        "article article"
        "aside aside"
        "footer footer";
    }

    .aside h1 {     
        transform: rotate(0deg);
    }
}