* {
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 40%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "section section aside"
    "article article aside"
    "footer footer footer";
}

.header {
    grid-area: header;
    background-color: red;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    grid-area: navbar;
    background-color: blue;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    grid-area: section;
    background-color: green;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: aside;
    background-color: yellow;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    grid-area: article;
    background-color: orange;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: purple;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
    